<%- include('header.html'); -%>
<!--Center-->
<div class="container bg" style="height: 500px">
</div>
<div class="container my-3">
Harper  +  Willow  is  a  lifestyle  and  stationery  brand  created  to  inspire  you,  bring  joy  to  your  every  day,  and  make  you  feel  at  home.  Each  product  is  intentionally  designed  to  radiate  kindness  and  encourage  the  best  version  of  yourself.  I’m  so  excited  to  finally  share  this  project  with  you!  I  hope  that  you  find  your  new  favorite  everything  here!  You’re  making  a  dream  of  mine  come  true  and  I  can’t  say  thank  you  enough!
</div>
<!--END-->
<%- include('footer.html'); -%>