<%- include('header.html'); -%>
<!--Center-->
<div class="row bg" style="height: 500px">
	<div class="col-sm-6 col-lg-3 offset-lg-6 my-auto">
		<div class="activity">
			current: <br/>
			VIDEOEDITING <br/>
			<hr>
			<a href = "#" class="btn-peach">JOIN</a>
		</div>
	</div>
	<div class="col-sm-6 col-lg-3 my-auto">
		<div class="activity">
			upcoming: <br/>
			NEXTACTIVITY <br/>
			<hr>
			<a href="#" class="btn-peach">JOIN</a>
		</div>
	</div>
</div>
<!--END-->

<!--PASTEVENTS-->
	<div class="row" style="height: 300px;">
	</div>
<!--END-->
<%- include('footer.html'); -%>